<div class="row">
  <div class="col-sm-12 col-md-12 d-flex- justify-content-center">
    <app-loading *ngIf="isLoading"></app-loading>
    <app-alert
      [message]="authError"
      *ngIf="authError"
      (close)="onAuthErrorClose()"
    ></app-alert>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          email
          required
          #email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          #password
        />
      </div>

      <ng-container *ngIf="isLoginMode">
        <hr />
        <p class="alert-text">Use these credentials for guest login</p>
        <p class="alert-text">Email : demo@demo.com</p>
        <p class="alert-text">Password : 123456</p>
      </ng-container>

      <div class="mt-5">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
          {{ isLoginMode ? "Login" : "Sign up" }}
        </button>
        |
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="onSwitchMode()"
        >
          {{ isLoginMode ? "Switch to sign up" : " Switch to login" }}
        </button>
      </div>
    </form>
  </div>
</div>
